---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro"
---

<Layout
  title="Porfolio de ricdevm - Desarrollador y Programador Web."
  description="Desarrollador Web. Especializado en ofrecer experiencias excepcionales a los usuarios."
>
  <main class="px-4">
	<SectionContainer class="py-16 md:py-36">
		<Hero>
			</slot>
	  	</Hero>
	</SectionContainer>
  </main>
</Layout>
