---
const personalImageAlt = "Ricardo Pérez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Ricardo Pérez, <strong>egresado del Instituto Profesional Duoc UC en Santiago, Chile.</strong>
      Donde obtuve una sólida formación en tecnologías y metodologías actuales en el área de la informática.
      <strong>Estoy enfocado en el Desarrollo Web y la Ciencia de Datos.</strong>
    </p>
    <p>
      Me caracterizo por la <strong>capacidad para trabajar en equipo</strong>, 
      la atención al detalle y el compromiso con la excelencia en cada proyecto en el que participo.
    </p>
    <p>
      Me mantengo en constante actualización, aprendiendo nuevas tecnologías para seguir el ritmo de un campo tan dinámico como el de la informática.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-full bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
