---
import ExperienceItem from "@/components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Encargado de E-commerce y Logística",
    company: "Orgánica Chile",
    description:
      "Gestiono la venta de suplementos alimenticios en la plataforma Mercado Libre, encargándome de la creación y mantenimiento de publicaciones, actualización de stock, atención a clientes y coordinación de pedidos, asegurando una operación eficiente y enfocada en la satisfacción del cliente.",
    link: "https://www.mercadolibre.cl/pagina/orgnicachile",
  },
  {
    date: "Oct, 2023 - Ene, 2024",
    title: "Practica Profesional Ingeniería",
    company: "SAC INFORMATICOS",
    description:
      "Como practicante en Arquitectura Cloud, simplifiqué y analicé el modelo de base de datos, gestioné la ingestión de datos desarrollando dashboards especializados y optimizando consultas para mejorar el rendimiento de los dashboards para una empresa minera y maderera con Google Cloud Platform y Power BI.",
    link: "https://sacinformaticos.cl/",
  },
  {
    date: "Mayo, 2022 - Jul, 2022",
    title: "Practica Profesional Técnico",
    company: "SAUT - Sistemas de Automatización LTDA. ",
    description: 
      "Apoye en la creación de un modelo en Roboflow con un dataset de imágenes y videos del proyecto MolyWeb, con el fin de optimizar el modelo ya existente.",
    link: "https://saut.cl/"
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
